@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'Bunch';
    src: url('fonts/Bunch-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1440px;
    height: 4399px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(245, 245, 245);
}

/* header section style */

header {
    /* Vector */
    width: 1440px;
    height: 1440px;
    background-image: url(Vector\ \(2\).png);
}

.logo {
    position: absolute;
    width: 121px;
    height: 28px;
    left: 20px;
    right: 1299px;
    top: 50px;
    bottom: 4321px;
}

.nav-ul {
    position: absolute;
    width: 463px;
    height: 68px;
    left: 489px;
    top: 30px;
    border-radius: 80px;
    background: rgb(255, 255, 255);
}

.home {
    /* Home */
    position: absolute;
    width: 46px;
    height: 12px;
    left: 55px;
    top: 28px;
    color: rgb(254, 80, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.works {
    position: absolute;
    width: 50px;
    height: 12px;
    left: 141px;
    top: 28px;
    color: rgb(127, 127, 127);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;

}

.about-us {
    position: absolute;
    width: 70px;
    height: 12px;
    left: 231px;
    top: 28px;
    color: rgb(127, 127, 127);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;

}

.services {
    position: absolute;
    width: 68px;
    height: 12px;
    left: 341px;
    top: 28px;
    color: rgb(127, 127, 127);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;

}

.chat-button {
    position: absolute;
    width: 148px;
    height: 60px;
    left: 1272px;
    top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    white-space: nowrap;
    padding: 24px 28px 24px 28px;
    border: 2px solid rgb(12, 15, 16);
    border-radius: 40px;
    box-shadow: inset 0px 1px 1px 3px rgb(25, 61, 66), 0px 1px 2px 0px rgba(2, 45, 51, 0.5);
    background: rgb(2, 45, 51);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.Development {
    position: absolute;
    width: 748px;
    height: 78px;
    left: 346px;
    top: 180px;
    color: rgb(2, 45, 51);
    font-family: Bunch;
    font-size: 120px;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -3%;
    text-align: center;
}

.agency {
    position: absolute;
    width: 425px;
    height: 78px;
    left: 517px;
    top: 287px;
    color: rgb(2, 45, 51);
    font-family: Bunch;
    font-size: 120px;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -3%;
    text-align: center;
}

.vector-3 {
    /* Vector */
    position: absolute;
    width: 100px;
    height: 75px;
    left: 410px;
    top: 286px;
}

.vector-4 {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 1033px;
    top: 281px;
    transform: rotate(180.00deg);
}

.header-image {
    position: absolute;
    width: 1400px;
    height: 734px;
    left: 20px;
    top: 415px;
    border-radius: 40px;
}

/* main section style*/
.contact-us-container {
    position: absolute;
    width: 448px;
    height: 295px;
    left: 20px;
    top: 1158px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
}

.text-container>p {
    position: absolute;
    width: 259px;
    height: 67px;
    left: 40px;
    top: 40px;
    color: rgb(2, 45, 51);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

/* make-change */
.text-container>.point {
    position: absolute;
    font-size: 40px;
    width: 14px;
    height: 14px;
    left: 394px;
    top: 30px;
}

.contact-us {
    position: absolute;
    width: 106px;
    height: 15px;
    left: 40px;
    top: 240px;
    color: rgb(254, 80, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* make-change */
.contact-us-image {
    position: absolute;
    width: 200px;
    height: 194.87px;
    left: 250px;
    top: 105px;
}

.members-container {
    position: absolute;
    width: 944px;
    height: 295px;
    left: 476px;
    top: 1158px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
}

.select-container {
    position: absolute;
    width: 326px;
    height: 148px;
    left: 40px;
    top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
}

.select-container>p {
    color: rgb(2, 45, 51);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 78%;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
}

.E-commerce {
    position: static;
    width: 148px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;
}

.Fintech {
    position: static;
    width: 106px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;

}

.Crypto {
    position: static;
    width: 102px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;

}

.Robotics {
    position: static;
    width: 117px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;

}

.Saas {
    position: static;
    width: 86px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 4;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;

}

.VCs {
    position: static;
    width: 80px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 5;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;

}

.Product-Design {
    position: static;
    width: 167px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 24px 16px 24px;
    flex: none;
    order: 6;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50px;
}

.members-image {
    position: absolute;
    width: 101px;
    height: 118px;
    left: 674px;
    top: 45px;
}

.members-count {
    position: absolute;
    width: 67px;
    height: 23px;
    left: 793px;
    top: 80px;
    color: rgb(2, 45, 51);
    font-family: Bunch;
    font-size: 36px;
    font-weight: 500;
    line-height: 116%;
    letter-spacing: -3%;
    text-align: center;
}

.members-image-2 {
    /* Rectangle 54 */
    position: absolute;
    width: 101px;
    height: 118px;
    left: 793px;
    top: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(2, 45, 51);
}

.members {
    position: absolute;
    width: 83px;
    height: 13px;
    left: 674px;
    top: 200px;
    color: rgb(2, 45, 51);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}


/* carousel-section */

.carousel-container {
    position: absolute;
    width: 1400px;
    height: 1035px;
    left: 20px;
    top: 1782px;
    border-radius: 40px;
    background: rgb(2, 45, 51);
}

.carousel-container>h2 {
    position: absolute;
    width: 363px;
    height: 105px;
    left: 40px;
    top: 80px;
    color: rgb(255, 255, 255);
    font-family: Bunch;
    font-size: 70px;
    font-weight: 600;
    line-height: 86%;
    letter-spacing: -3%;
    text-align: left;
    white-space: nowrap;
}


.swiper-container {
    position: absolute;
    width: 1388px;
    height: 682px;
    left: 12px;
    top: 245px;
}

.swiper-slide>img {
    width: 400px;
    height: 682px;
    border-radius: 50px;
}

.carousel-container .swiper-slide {
    width: 400px !important;
    margin-right: 8px;
}

.Slider-title-1 {
    width: 245px;
    height: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12;
    padding: 0px;
}

.Slider-title-2 {
    width: 241px;
    height: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12;
    padding: 0px;
}

.Slider-title-3 {
    width: 253px;
    height: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12;
    padding: 0px;
}

.Slider-title-4 {
    width: 252px;
    height: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12;
    padding: 0px;
}

.swiper-slide>div>p {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}


.swiper-button-next {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1280px;
    top: 93px;
    border-radius: 24px;
    background: rgb(254, 80, 0);
}

.swiper-button-prev {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1192px;
    top: 93px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.1);
}


.carousel-container .swiper-button-prev::after,
.carousel-container .swiper-button-next::after,
.carousel-container .swiper-button-prev svg,
.carousel-container .swiper-button-next svg {
    display: none;
}

/* question-section */

.question-container {
    position: absolute;
    width: 1440px;
    height: 668px;
    left: 0;
    top: 2817px;
}

.question-section-title {
    position: absolute;
    width: 564px;
    height: 141px;
    left: 70px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    padding: 0px;
}

.question-section-title>div {
    width: 201px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.question-section-title>div>p {
    color: rgb(2, 45, 51);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-align: left;
    white-space: nowrap;
}

.question-section-title>h2 {
    color: rgb(2, 45, 51);
    font-family: Bunch;
    font-size: 70px;
    font-weight: 600;
    line-height: 86%;
    letter-spacing: -3%;
    text-align: left;
    white-space: nowrap;
}


.Real-all-FAQs {
    position: absolute;
    width: 174px;
    height: 60px;
    left: 70px;
    top: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 24px 28px 24px 28px;
    border: 2px solid rgb(12, 15, 16);
    border-radius: 40px;
    box-shadow: inset 0px 1px 1px 3px rgb(25, 61, 66), 0px 1px 2px 0px rgba(2, 45, 51, 0.5);
    background: rgb(2, 45, 51);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    white-space: nowrap;
}


.collapse-container {
    position: absolute;
    width: 638px;
    height: 588px;
    left: 732px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(35, 39, 46, 0.08);
    background: rgb(255, 255, 255);
}

.question-with-answer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 16px;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 8px;
    background: rgb(246, 247, 249);
}

.question-with-answer>div>h4 {
    color: rgb(254, 80, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.question-with-answer>p {
    color: rgb(82, 96, 119);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

/* footer section style*/


.footer-container {
    position: absolute;
    width: 1400px;
    height: 711px;
    left: 20px;
    top: 3668px;
    border-radius: 40px;
    background: rgb(2, 45, 51);

}

.footer-heading {
    position: absolute;
    width: 714px;
    height: 119px;
    left: 343px;
    top: 100px;
    color: rgb(255, 255, 255);
    font-family: Bunch;
    font-size: 70px;
    font-weight: 600;
    line-height: 106%;
    letter-spacing: -3%;
    text-align: center;
}

.get-in-touch-button {
    position: absolute;
    width: 204px;
    height: 68px;
    left: 598px;
    top: 273px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: rgb(2, 45, 51);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 80px;
    border: none;
    background: rgb(255, 255, 255);
}

.line {
    position: absolute;
    width: 1400px;
    height: 0;
    left: 0;
    top: 442.5px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.line-2 {
    position: absolute;
    width: 1400px;
    height: 0;
    left: 1px;
    top: 590.5px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.Quick-links {
    position: absolute;
    width: 84px;
    height: 12px;
    left: 40px;
    top: 491px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}



.Quick-links-container>.home {
    position: absolute;
    width: 46px;
    height: 12px;
    left: 53px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.Quick-links-container>.work {
    position: absolute;
    width: 50px;
    height: 12px;
    left: 139px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;
}

.Quick-links-container>.about-us {
    position: absolute;
    width: 70px;
    height: 12px;
    left: 229px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;
}

.Quick-links-container>.services {
    position: absolute;
    width: 68px;
    height: 12px;
    left: 339px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    list-style: none;
}

.footer-contact-us {
    position: absolute;
    width: 84px;
    height: 12px;
    left: 607px;
    top: 491px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.email {
    position: absolute;
    width: 156px;
    height: 12px;
    left: 607px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.follow-us {
    position: absolute;
    width: 72px;
    height: 12px;
    left: 962px;
    top: 491px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.facebook {
    position: absolute;
    width: 76px;
    height: 12px;
    left: 962px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.instagram {
    position: absolute;
    width: 78px;
    height: 12px;
    left: 1076px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.twitter {
    position: absolute;
    width: 56px;
    height: 12px;
    left: 1192px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.linkedin {
    position: absolute;
    width: 66px;
    height: 12px;
    left: 1286px;
    top: 531px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.copyright {
    position: absolute;
    width: 172px;
    height: 12px;
    left: 40px;
    top: 639px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.privacy-policy {
    position: absolute;
    width: 107px;
    height: 12px;
    left: 607px;
    top: 639px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.website-terms {
    position: absolute;
    width: 114px;
    height: 12px;
    left: 1238px;
    top: 639px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: right;
}